@import '~bootstrap/scss/bootstrap';

h1 {
    color: red;
    text-align: center;
}

div {
    background: deepskyblue;
    color: #ffffff;
    font-size: 33px;
    text-align: center;
    padding: 30px 0;
}
