@import '~reset-css/reset';

h1 {
    font-size: 40px;
    color: red;
    text-align: center;
}

#demo {
    background: deepskyblue;
    color: #ffffff;
    font-size: 33px;
    text-align: center;
    padding: 30px 0;
}
